.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    min-height: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    transition: all .7s ease;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
    .modal {
      width: auto;
    }
  }