.profile__add-btn {
    width: 150px;
    height: 50px;
    background-color: inherit;
    cursor: pointer;
    border: 2px solid white;
   margin: 75px 0;
   transition: 0.3 ease all;
}

.profile__add-btn:hover {
    opacity: 0.6;
    background-color: black;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
    .profile__add-btn {
        width: 282px;
        height: 50px;
        margin: 36px 19px;
    }
}