.elements__card-container-btn-delete {
    cursor: pointer;
    transition: 0.3s ease all;
    position: absolute;
    top: 18px;
    right: 15px;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    object-fit: cover;
}

.elements__card-container-btn-delete:hover {
    opacity: 0.5;
}