.profile__info-edit-btn {
border: 1px solid white;
cursor: pointer;
background-color: inherit;
width: 24px;
height: 24px;
position: absolute;
top: 15px;
right: 0;
transition: 0.3 ease all;
}

.profile__info-edit-btn:hover {
    opacity: 0.6;
    background-color: black;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
    .profile__info-edit-btn {
        top: 4px;
        right: 29px;
        width: 18px;
        height: 18px;
        padding: 0;
    }
}
