.new-image-error {
    position: absolute;
    top: 205px;
    left: 36px;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
    .new-image-error {
        top: 212px;
        left: 22px;
    }
}