.modal__container-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  top: -10px;
  right: -390px;
}

.modal__container-close:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
  .modal__container-close {
    width: 30px;
    height: 30px;
    right: -185px;
    top: -15px;
  }
}
