.elements {
   min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    width: 880px;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
    .elements {
        flex-direction: column;
        width: 320px;
    }
}