.elements__card-container {
    width: 282px;
    height: 361px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 11px 20px 0;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
    .elements__card-container {
        margin: 0 19px 20px;
    }
}