.profile__info-about {
  color: white;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 13px;
  margin-bottom: 0;
  width: 415px;
  height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
  .profile__info-about {
    margin: 14px auto 0;
    font-size: 14px;
    line-height: 17px;
    width: 282px;
    height: 14px;
    text-align: center;
  }
}
