.modal-window__close-change {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -50px;
  left: 430px;
  transition: 0.3s ease all;
  cursor: pointer;
}

.modal-window__close-change:hover {
  color: white;
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
  .modal-window__close-change {
    width: 26px;
    height: 26px;
    top: -35px;
    left: 280px;
  }
}
