.popup__container-close-popup {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  left: 430px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
  .popup__container-close-popup {
    width: 26px;
    height: 26px;
    top: -45px;
    left: 285px;
  }
}
