.modal-window__btn-delete {
  background-color: black;
  width: 358px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  border: none;
  top: 95px;
  left: 36px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
  .modal-window__btn-delete {
    width: 238px;
    left: 23px;
  }
}
