.elements__card-container-footing-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: 21px;
  height: 19px;
  position: absolute;
  right: 15px;
  left: 240px;
  top: 28px;
  transition: 0.3s ease all;
  object-fit: cover;
}

.elements__card-container-footing-btn:hover {
  opacity: 0.5;
}
