.popup__container-save-btn {
  background-color: black;
  width: 358px;
  height: 50.15px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  border: none;
  transition: 0.3 ease all;
  position: absolute;
  bottom: 36.51px;
  left: 36px;
}

.popup__container-save-btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
  .popup__container-save-btn {
    width: 238px;
    height: 46px;
    bottom: 25px;
    left: 22px;
  }
}
