.header__logo-header {
  min-width: 173px;
  height: 33px;
  margin-bottom: 41px;
  width: auto;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
  .header__logo-header {
    min-width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
