.modal-window__modal-title {
  width: 358px;
  height: 23px;
  font-style: normal;
  font-weight: 900;
  color: black;
  font-size: 24px;
  margin: 34px auto 124px;
  line-height: 29px;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
  .modal-window__modal-title {
    font-size: 18px;
    line-height: 22px;
    margin: 35px auto;
    width: 238px;
  }
}
