.profile__add-btn-image {
    width: 22px;
    height: 22px;
    padding: auto;
    pointer-events: none;
}

@media screen and (min-width: 320px) and (max-width: 898px) {
    .profile__add-btn-image {
        width: 16px;
        height: 16px;
    }
}