.popup__input-error_active {
    width: 350px;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: red;
    display: block;    
}

@media screen and (min-width: 320px) and (max-width: 898px) {
   .popup__input-error_active {
    width: 250px;
    font-size: 9px;
    
   }
}